################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestNewOpportunity/bin/Debug/net7.0
/TestNewOpportunity/obj
