################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestNewOpportunity/bin/Debug/netcoreapp3.0
/Life/bin/Debug
/Life/obj
